%h1
  = params[:date_string].to_date.month
  ="/"
  = params[:date_string].to_date.year
%table{:class=>"overview"}
  %tr
    %th= t 'Fixed incomes'
    %th= t 'Fixed expenses' 
    %th= t 'Expenses' 
    %th= t 'Incomes' 
    %th= t 'Savings' 
    %th= t 'Balance' 
  
  %tr
    %td=h price_formatted @fixed_incomes_amount
    %td=h price_formatted @month_fixed_expenses_amount
    %td=h price_formatted @month_expenses_amount
    %td=h price_formatted @month_incomes_amount
    %td=h price_formatted @savings
    %td=h price_formatted @balance
  

%br
%table{ :class=>"overview"}
  %tr
    -i = 1
    -@weekly_balance.each do |wb| 
      %td
        Týden
        = i
        =":&nbsp;&nbsp;&nbsp;"
        =h price_formatted wb
        -i +=1 
        
= link_to t('New expense'), new_expense_path 
%table
  %tr
    %th
      Name
    %th
      Price
    %th
      Date
  

  -@month_expenses.each do |expense| 
    %tr
      %td=h expense.name 
      %td{:class=>"right"}=h price_formatted expense.price 
      %td=h expense.date 
      %td= link_to t('Show'), expense 
      %td= link_to t('Edit'), edit_expense_path(expense) 
      %td= link_to t('Destroy'), expense, :confirm => 'Are you sure?', :method => :delete 
  %tr
    %thTotal: 
    %th{:class=>"right"}= price_formatted @month_expenses_amount 
    %th



%br

= link_to t('New expense'), new_expense_path 