<h1><%=t'New fixed_income'%></h1>

<% form_for(@fixed_income) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :valid_from %>
    <br />
    <%= f.date_select :valid_from %>
  </p>
  <p>
    <%= f.label :valid_to %>
    <br />
    <span id="disabled" style="display:none">
      <%= f.date_select :valid_to, :disabled => (true if @fixed_income.valid_to.nil?) %>
    </span>
    <%= link_to_function(t('I want to finish this'),'$("select:disabled").removeAttr("disabled");$("#disabled").fadeIn();$(this).hide()') %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit t'Create' %>
  </p>
<% end %>

<%= link_to t('Back'), fixed_incomes_path %>