<p>
  <b><%=t'Name'%>:</b>
  <%=h @fixed_income.name %>
</p>

<p>
  <b><%=t'Amount'%>:</b>
  <%=h @fixed_income.amount %>
</p>


<%= link_to t('Edit'), edit_fixed_income_path(@fixed_income) %> |
<%= link_to t('Back'), fixed_incomes_path %>