<ul id="menu">
  <li><%= link_to t('Current month'), '/' %></li>
  <li><%= link_to t('Fixed incomes'), fixed_incomes_path %></li>
  <li><%= link_to t('Fixed expenses'), fixed_expenses_path %></li>
  <li><%= link_to t('Incomes'), incomes_path %></li>
  <li><%= link_to t('Expenses'), expenses_path %></li>
  <li><%= link_to t('Savings'), savings_path %></li>
</ul>