<h1>Listing savings</h1>

<table>
  <tr>
    <th>Amount</th>
  </tr>

<% @savings.each do |saving| %>
  <tr>
    <td><%=h saving.amount %></td>
    <td><%= link_to t('Show'), saving %></td>
    <td><%= link_to t('Edit'), edit_saving_path(saving) %></td>
    <td><%= link_to t('Destroy'), saving, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New saving', new_saving_path %>