<h1><%= t 'Editing fixed_expense' %></h1>

<% form_for(@fixed_expense) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit t('Update') %>
  </p>
<% end %>

<%= link_to t('Show'), @fixed_expense %> |
<%= link_to t('Back'), fixed_expenses_path %>