!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"cs-CZ"}
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8' }
    %meta{ 'http-equiv' => 'content-language', :content => 'cs' }
    %title="Moneydog#{t controller.class.name} | #{t controller.action_name}"
    %script{:src=>"http://www.google.com/jsapi", :type => 'text/javascript'}
    %script
      ='google.load("jquery", "1.4.2");'
    = stylesheet_link_tag 'scaffold'
  %body
    #head
      - if current_user.present?
        #user-info
          = "#{t'Logged as'}: #{current_user.email}"
      #logo="money dog"
      = render :partial => 'shared/menu'
    #content
      %p{:style => "color: green"}
        =flash[:notice]
      = yield